@import "tailwindcss";

@theme {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  --color-gray-50: #F5F6F7;
  --color-gray-100: #DDE1E5;
  --color-gray-200: #DDE1E5;
  --color-gray-300: #DDE1E5;
  --color-gray-400: #707579;
  --color-gray-500: #707579;
  --color-gray-800: #111111;
  --color-gray-900: #111111;
  
  --color-green-100: #E6F2EB;
  --color-green-500: #00813D;
  --color-green-600: #00813D;
  
  --color-red-50: #FBE8E8;
  --color-red-100: #FBE8E8;
  --color-red-500: #D21C1C;
  --color-red-600: #D21C1C;
  
  --color-yellow-50: #FDF7E5;
  --color-yellow-100: #FDF7E5;
  --color-yellow-400: #F0B400;
  --color-yellow-500: #F0B400;
  --color-yellow-600: #F0B400;
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

